/* CSS Document */

.avatar{margin-left:50px; margin-right:50px; margin-top:50px; margin-bottom:20px;width:100px; height:100px; border-style:dashed; border-radius:3px;}

.grid{ margin:30px; width:609px; background-color:#CCCCCC; float:left; border-radius:5px; padding-left:30px; padding-bottom:30px; }

.line1{font:Georgia, "Times New Roman", Times, serif; color:#666666; line-height:25px;}




